@import "tailwindcss";

@theme {
  /* Custom base styles can be added here */
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
}

@layer base {
  :root {
    --border: 172 54% 61%;
    --background: 0 52% 56%;
    --foreground: 303 68% 69%;

    --primary: 0 0% 10%;
    --primary-foreground: 60 53% 59%;

    --secondary: 150 60% 57%;
  }
  .dark {
    --border: 172 74% 45%;
    --background: 0 75% 40%;
    --foreground: 303 92% 41%;

    --primary: 0 0% 0%; /* already black, unchanged */
    --primary-foreground: 60 73% 34%;

    --secondary: 150 80% 32%;
  }
  *{
    @apply border-border;
  }
  html{
    @apply scroll-smooth;
  }
  body{
    @apply bg-background text-foreground transition-colors duration-300;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;

  @media (width >= 640px) {
    max-width: 640px;
  }
  @media (width >= 768px) {
    max-width: 768px;
  }
  @media (width >= 1024px) {
    max-width: 1024px; 
  }
  @media (width >= 1280px) {
    max-width: 1280px; 
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-glow{
  @apply relative;
  text-shadow: 0 0 10px rgba(167,139,250,0.5);
}

@utility card-hover {
  @apply transition-transform duration-300 ease-in-out hover:scale-[1.03] hover:shadow-lg;
}

#root{
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

html,body{
  background-image: url('/pattern.jpg');
  background-repeat: repeat-y;
  background-size: 30% auto;
  background-position: 22% 0%;
  overscroll-behavior: None;
}

